// Page local nav
.et-element-nav {
    @extend .sans-serif;
    font-weight: 700;
}

.et-element-nav__top-el a {
    color: $eureka-blue-primary !important;
}

.et-element-nav__nested-el a {
    font-weight: 400;
    color: $eureka-blue-secondary !important;
}

// Sidebar
.et-sidebar-nav {
    @extend .sans-serif;
    color: $eureka-grey-primary;

    a.nav-link {
        color: $eureka-grey-primary;

        &:hover {
            font-weight: 700;
            color: $eureka-blue-secondary !important;
        }
    }

    .disabled {
        font-weight: 700;
        color: $eureka-blue-secondary !important;
        &.nav-link {
            padding-bottom: 0;
        }
    }
}

.et-sidebar-nav__nested-nav {
    margin: 0 0 0 2.2em;
    .nav-link {
        padding: 0;
    }

    ul {
        list-style: initial;
    }
}
