header {
    background-color: $eureka-blue-primary;
}

#main-nav {
    @extend .navbar;
    @extend .navbar-dark;
    @extend .navbar-expand-lg;
    @extend .d-print-none;
    @extend .serif;
    background-color: $eureka-blue-primary;
}


#main-nav, .et-tab-nav {
    margin: 0 0 2em 0;
}

.navbar-nav .nav-link {
    color: #FFFFFF !important;
    &.active {
        text-decoration: underline;
    }
}
