header, footer {
    background-color: $eureka-blue-primary;
}

footer {
    @extend .serif;
    padding: 1em 0;
    color: #FFF;

    .col-md-4:last-of-type > * {
        color: #FFF;
        display: block;
        margin-left: auto;
        width: fit-content;
    } 
}

#main-nav {
    @extend .navbar;
    @extend .navbar-dark;
    @extend .navbar-expand-lg;
    @extend .d-print-none;
    @extend .sans-serif;
    font-weight: 400;
    align-items: baseline;
}

.navbar-brand {
    @extend .serif;
    font-weight: 700;
}

.improv-type-nav, .et-tab-nav, .improv-combo-tab-nav {
    margin: 0 0 2em 0;
}

#maincontent > .container {
    &:first-of-type {
        padding-top: 2em;
    }
    &:last-of-type {
        padding-bottom: 2em;
    }
}

.navbar-nav .nav-link {
    color: #FFFFFF !important;
    &.active {
        text-decoration: underline;
    }
}

// Tab navigation
.improv-type-nav__link, .et-tab-nav__link, .improv-combo-tab-nav__link {
    color: #FFFFFF !important;
    background-color: $eureka-blue-secondary;
    margin-right: 0.5rem;
    @extend .sans-serif;
    font-weight: 700;
    border-top-left-radius: 0.5rem !important;
    border-top-right-radius: 0.5rem !important;

    &.active {
        color: $eureka-blue-secondary !important;
        background-color: #FFFFFF;
    }
}

#bug-reporter:hover {
    cursor: pointer;
}
