@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

.sans-serif {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.serif {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
}

.serif-body {
    @extend .serif;
    font-weight: 400;
}

html {
    @extend .sans-serif;
}

h1, h2, h3, h4, h5, h6, nav {
    @extend .serif;
}

#maincontent {
    @extend .serif-body;

    h1 {
        margin-bottom: 2rem;
    }

    h2 {
        font-size: 1.5rem;
        margin: 2rem 0 0.5rem;
    }

    h3 {
        font-size: 1.25rem;
        margin: 2rem 0 0.5rem;
    }
}

.img-title {
    @extend .h4;
    @extend .serif;
}

a:link {
    color: #414F6D;
    text-decoration: none;
}

a:hover {
    color: #00479E;
    text-decoration: underline;
}

a:active {
    color: #575738;
    text-decoration: underline;
}

a:visited {
    color: #4F4F4F;
    text-decoration: none;
}

.rich-text {
    ol > li > ol > li {
        list-style: disc;
    }
}
