// Bootstrap overrides must precede the Bootstrap import
$blue: #0056b2;

// Custom colors
//$eureka-blue-primary: #093552;
//$eureka-blue-secondary: #41516C;
$eureka-blue-primary: #003655;
$eureka-blue-secondary: #00639E;
$eureka-brown-primary: #555555;
$eureka-brown-secondary: #D2D2C0;
$eureka-white-primary: #EFEFEF;
$eureka-white-primary: #F9F9F9;
$eureka-grey-primary: #666666;

$footer-offset: 155px;

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Custom styles
@import "./elements/typography";
@import "./elements/nav";
@import "./elements/music-notation";
@import "./pages/home_page";
@import "./pages/ear_training";

// Base styles
body {
    position: relative;
    min-height: 100vh;
    background-position: 0 0;
    background-size: cover;
    background-attachment: fixed;
}

footer {
    position: relative;
    width: 100%;
    bottom: 0;

    #footer-login-link {
        color: #FFF;
        @extend .serif;
        display: block;
        margin: 1rem 0 0 3rem;
    }
}

main > div.container {
    background-color: #FFFFFF;
    min-height: calc(100vh - #{$footer-offset});
}

.container, .container-sm, .container-md, .container-lg, .container-xl {
    @include media-breakpoint-up(xl) {
        // Default is width is 1140px
        // Default padding is 15px
        $xl-width: 1400px;
        $xl-padding: (($xl-width - 1140px) / 2) + 15px;
        max-width: $xl-width;
        padding-left: $xl-padding;
        padding-right: $xl-padding;
    }
}
