{% extends 'base.html' %}
{% load wagtailcore_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <nav class="et-tab-nav" aria-label="Ear training level">
                <ul class="nav nav-tabs">
                    {% for p in et_level_nav %}
                    <li class="nav-item">
                        <a class="nav-link{% if p.active %} active{% endif %}" href="{% if p.active %}#{% else %}{{ p.page.get_url }}{% endif %}">{{ p.page.specific.tab_title }}</a>
                    </li>
                    {% endfor%}
                </ul>
            </nav>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h1>{{ page.title }}</h1>

            <hr/>

            <nav class="row et-element-nav">
                {% for block in page.body %}
                <div class="col-md-4">
                    <ul class="nav flex-column">
                        <li class="nav-item et-element-nav__top-el"><a href="#{{ block.id }}">{{ block.value.title }}</a>
                            <ul class="nav flex-column">
                                {% for el in block.value.musical_elements %}
                                <li class="nav-item et-element-nav__nested-el"><a href="#{{ block.id }}-{{ forloop.counter }}">{{ el.element_title }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>
                {% endfor %}
            </nav>

            <hr/>

            {% for block in page.body %}
                <h2 id="{{ block.id }}">{{ block.value.title }}</h2>
                {% for el in block.value.musical_elements %}
                    <h3 id="{{ block.id }}-{{ forloop.counter }}">{{ el.element_title }}</h3>
                    {% include_block el.content %}
                {% endfor %}
            {% endfor %}
        </div>
        <div class="col-md-3">
            <nav class="et-sidebar-nav" aria-label="Ear training elements">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ page.get_parent.get_parent.get_url }}">
                            {{ page.get_parent.get_parent }}
                        </a>
                    </li>
                    {% for p in et_elements_nav %}
                        {% if p.active %}
                        <li class="nav-item">
                            <a class="nav-link disabled" href="{{ p.page.get_url }}">
                                {{ p.page.title }}
                            </a>
                            <div class="et-sidebar-nav__nested-nav">
                                <ul class="nav flex-column">
                                    {% for sibling in page.get_siblings %}
                                    <li class="nav-item">
                                        <a class="nav-link{% if sibling.specific == page %} disabled{% endif %}" href="{{ sibling.get_url }}">{{ sibling.title }}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ p.page.get_url }}">
                                {{ p.page.title }}
                            </a>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock %}

