{% extends 'base.html' %}
{% load wagtailcore_tags %}

{% block body_class %}home-page-body{% endblock %}
{% block body_style  %}style="background-image: url({{ STATIC_URL }}img/cello_suite_anna_magdalena_bach.jpg);"{% endblock %}
{% block main_class %}home-page-main{% endblock %}

{% block content %}
<div id="home-page-container">
    <h1>{{ page.title }}</h1>
    <p>A Digital Guidebook for Improvisation Leadership in the Ear Training Classroom</p>
    {% if page.home_page_link %}<a href="{{ page.home_page_link.get_url }}">Get Started</a>{% endif %}
</div>
{% endblock %}

