{% extends 'base.html' %}
{% load wagtailcore_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <nav class="improv-combo-tab-nav" aria-label="Ear training level">
                <ul class="nav nav-tabs">
                    {% for p in improv_combo_pages %}
                    <li class="nav-item">
                        <a class="improv-combo-tab-nav__link nav-link{% if p.active %} active{% endif %}" href="{% if p.active %}#{% else %}{{ p.page.get_url }}{% endif %}">{{ p.page.title }}</a>
                    </li>
                    {% endfor%}
                </ul>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h1>{{ page.title }}</h1>
            {% include_block page.body %}
        </div>
    </div>
</div>
{% endblock %}

