<!doctype html>
<html lang="en">
    <head>
        <title>Sign in to Eureka Editor CMS</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- CSS for cookie policy -->
        <link rel="stylesheet" href="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.css" />
        <!-- Project CSS -->
        <link rel="stylesheet" href="{{STATIC_URL}}build/main.css">

        <!-- Favicon -->
        {% include "main/includes/favicon.html" %}
    </head>
    <body class="cms-login-page">
        <script src="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.js"></script>    
        <main class="container">
            <form method="get" action="/cas/login">
                <input type="hidden" name="next" value="{{next|default:'/cms/'}}" />
                <h1 class="display-h4 mt-5 text-center">Eureka Editor CMS</h1>
                <div class="text-center mt-5"><input class="btn btn-primary btn-lg" type="submit" value="Please Log In" /></div>
            </form>
        </main>
    </body>
</html>
