{% load compress %}
{% load wagtailuserbar %}
{% load menu_tags %}

<!doctype html>
<html lang="en">
  <head>

    <title>{% block title %}{% endblock %} — Eureka</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS for cookie policy -->
    <link rel="stylesheet" href="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.css" />
    <!-- Project CSS -->
    {% compress css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}build/main.css">
    {% block css %}{% endblock %}
    {% endcompress %}

    <!-- CSS for cookie policy -->

    <!-- Favicon -->
    {% include "main/includes/favicon.html" %}
    <!-- Open Graph -->
    <meta property="og:title" content="Eureka - A digital guidebook for music improvisation in the ear training classroom" />
    <meta property="og:site_name" content="Eureka" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{ STATIC_URL }}img/eureka-og.png" />
    <meta property="og:image:alt" content="Logo of the Eureka project" />
    <meta property="og:description" content="A project to guide instructors on the use of improvisation in their ear training courses. Created by Peter Susser, Dept. of Music, Columbia University." />
    <meta property="og:url" content="https://eureka.ctl.columbia.edu" />
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@Columbia_Music" />
    <meta name="twitter:title" content="Eureka" />
    <meta name="twitter:description" content="A project to guide instructors on the use of improvisation in their ear training courses. Created by Peter Susser, Dept. of Music, Columbia University." />
    <meta name="twitter:image" content="{{ STATIC_URL }}img/eureka-og.png" />
    <meta name="twitter:image:alt" content="Logo of the Eureka project" />


  </head>
  <body class="{% block body_class %}{% endblock %}" {% block body_style %}{% endblock %}>
    <header>
        <!-- skippy -->
        <a href="#maincontent" class="skippy focus-none sr-only sr-only-focusable" id="contentjump">
            Skip to main content
        </a>
        {% block segment_nav %}{% endblock %}
        <nav id="main-nav" aria-label="Eureka site">
            <a class="navbar-brand" href="/">Eureka</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div id="navbarSupportedContent" class="collapse navbar-collapse">
                {% main_menu %}
            </div>
        </nav>
    </header>
    
    <main id="maincontent">
    {% block content %}{% endblock %}
    </main>
    
    <footer class="container">
    </footer>
    
    <nav aria-label="Wagtail User Menu">
    {% wagtailuserbar %}
    </nav>

    {% if STAGING_ENV %}
    <div class="alert alert-danger alert-dismissable fade show fixed-bottom">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> 
        <h4>
            Warning: Staging Site
        </h4>
        <p>
            You are viewing a staging version of this site, not the production site.
            This site was last updated on: <b>{{STAGING_DEPLOY_TIME}}</b>
        </p>
    </div>
    {% endif %}

    {% if not debug and GA_CODE %} 
    <!-- Google Analytics -->
    <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{GA_CODE}}', 'auto');
        ga('set', 'anonymizeIp', true);
        ga('send', 'pageview');
    </script> 
    <!-- End Google Analytics -->
    {% endif %} 

    <script src="{{STATIC_URL}}build/main.js"></script>
    {% if not debug %}
    <script src="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.js"></script>    
    {% endif %}
</body>
</html>
